<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="tests/boostrap.php"
         backupGlobals="false"
         colors="true"
         failOnRisky="true"
         failOnWarning="true">
    <source>
        <include>
            <directory>./src</directory>
        </include>
        <exclude>
            <directory>./src/Resources</directory>
            <directory>./tests</directory>
            <directory>./vendor</directory>
        </exclude>
    </source>
    <testsuites>
        <testsuite name="Symfony CryptoBundle Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
